* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: flex;
    margin: 10px 0px;
}

input {
    padding-inline-start: 30px;
    padding: 4px 0 5px 30px;
    width: 100%;
}

.contact h2 {
    margin: 40px 0 10px 0;
}

.count-post {
    display: flex;
    margin-top: 20px;
}

select {
    width: 100px;    
    padding: 5px 0 4px 22px;
}

.post {
    margin-left: 18px;
}

.fa-solid {
    position: absolute;
    padding: 6px 0px 2px 7px;
}

.che-info {
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

#checkbox {
    width: 20px;
    margin: 11px 0 10px 0;
}

.continue {
    display: flex;
    justify-content: end;
}

#cont-but {
    color: white;
    background-color: #F2994A;
    padding: 12px 8px;
    border-radius: 10px;
    border: none;
}

.products {
    justify-content: center;
    background-color: #eee;
    padding: 24px;
    width: 360px;
    height: 360px;
    border-radius: 16px;
    margin-top: 40px;
}

.box {
    display: flex;
}

.box img {
    height: 110px;
    width: 96px;
    border-radius: 10px;
    margin: 0 20px 20px 0;
}

.cut-price {
    color: #F2994A;
    font-size: 20px;
}

.prev-price {
    font-display: del;
}

.counter {
    display: flex;
    width: 100px;
    justify-content: space-around;
    border: 1px solid rgb(97, 94, 94);
    border-radius: 4px;
    padding: 3px;
    margin-top: 37px;
}

.count-but {
    width: 20px;
    background-color: #E0E0E0;
    border: none;
    height: 24px;
    align-items: center;
    border-radius: 4px;
}

#one {
    padding: 4px;
}

.prod-foot {
    padding-right: 30px;
}

.last {
    display: flex;
    justify-content: space-between;
}

.last p {
    font-size: 18px;
    margin-bottom: 10px;
}

.but2 {
    display: none;
}

@media (min-width:1200px) {
    .container {
        justify-content: center;
        gap: 170px;
    }
}

@media (max-width:800px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .but1 {
        display: none;
    }

    .but2 {
        display: block;
        margin-top: 20px;
    }

}

@media (max-width:385px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #country {
        width: 75px;
    }

    #post {
        width: 150px;
    }

    .products {
        width: 300px;
    }

    .but1 {
        display: none;
    }

    .but2 {
        display: block;
        margin-top: 20px;
    }

}